<div class="flex items-center justify-center min-h-screen  bg-background font-body">
  <div class="w-full max-w-md p-8 space-y-6 bg-card rounded-xl shadow-lg border border-gray-00">

    <header class="text-center">
      <h1 class="text-4xl font-semibold text-color font-heading">Bienvenido de vuelta a ShopZone</h1>
      <p class="text-gray-500 mt-4 font-body text-g">Ingresa tus datos para continuar</p>
    </header>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">

      @if (errorMessage) {
        <div class=" text-red-300 px-4 py-3 rounded-lg text-center" role="alert">
          <span>{{ errorMessage }}</span>
        </div>
      }

      <div class="text-center flex flex-col">
        <label for="username" class="text-m  text-color m-1">Usuario</label>
        <input 
          id="username"
          formControlName="username"
          type="text"
          placeholder="tu-usuario"
      class="w-full px-4 py-2 bg-gray-700  rounded-lg text-white placeholder-gray-500 focus:outline-none focus:ring-2 "
          [ngClass]="{ 'border-none focus:ring-red-400': loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched) }"
        />
      
        @if (loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)) {
          <div class="text-red-400 text-xs mt-1 text-center">
            @if (loginForm.get('username')?.errors?.['required']) {
              <p>El usuario es requerido.</p>
            }
            @if (loginForm.get('username')?.errors?.['minlength']) {
              <p>Debe tener al menos 4 caracteres.</p>
            }
            @if (loginForm.get('username')?.errors?.['maxlength']) {
              <p>Debe tener como máximo 40 caracteres.</p>
            }
          </div>
        }
      </div>

      <div class="text-center flex flex-col">
        <label for="password" class="text-m  text-white m-1">Contraseña</label>
        <input 
          id="password"
          formControlName="password"
          type="password"
          placeholder="Ingresa tu contraseña" 
          class="w-full px-4 py-2 bg-gray-700  rounded-lg text-white placeholder-gray-500 focus:outline-none focus:ring-2"
          [ngClass]="{ 'border-none focus:ring-red-400': loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) }"
        />
        @if (loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)) {
          <div class="text-red-400 text-xs mt-1 pl-1 text-center">
            @if (loginForm.get('password')?.errors?.['required']) {
              <p>La contraseña es requerida.</p>
            }
            @if (loginForm.get('password')?.errors?.['minlength']) {
              <p>La contraseña debe tener al menos 8 caracteres.</p>
            }
          </div>
        }
      </div>

      <div class="flex items-center justify-between py-2">
        <div class="flex flex-row items-center space-x-2">
          <input 
            type="checkbox" 
            id="rememberMe" 
            class="w-4 h-4 text-violet-primary bg-dark-bg border-dark-border rounded focus:ring-violet-primary" formControlName="rememberMe"
          >
          <label for="rememberMe" class="text-sm text-gray-400 cursor-pointer">
            Recordarme para la próxima vez
          </label>

        <a routerLink="/forgot-password" class="text-sm text-gray-400 hover:text-purple-300 hover:underline">
          ¿Olvidaste tu contraseña?
        </a>
         </div>
      </div>

      <div>
        <button 
          type="submit"
          [disabled]="loginForm.invalid"
          class="w-full py-3 px-4 bg-linear-to-r from-purple-600 to-indigo-800 text-white font-bold rounded-lg  hover:from-purple-700 hover:to-indigo-700 focus:outline-none focus:ring-2 ">
          Iniciar Sesión
        </button>
      </div>
    </form>

    <div class="text-center">
      <p class=" text-gray-400 text-sm">¿No tienes una cuenta? 
        <a routerLink="/register" class=" ms-1 font-medium text-purple-400 hover:text-purple-300 hover:underline">Regístrate</a>
      </p>
    </div>
  </div>
</div>